.u-section-1 .u-sheet-1 {
  min-height: 500px;
}
{
  .u-block-fc3f-2 {
    min-height: 500px;
  }
  .u-block-fc3f-6 {
    width: 1140px;
    margin-top: 63px;
    margin-bottom: 60px;
    min-height: 375px;
  }
  .u-block-fc3f-20 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-22 {
    font-size: 1rem;
  }
  .u-block-fc3f-26 {
    width: 100px;
  }
  .u-block-fc3f-31 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-33 {
    font-size: 1rem;
  }
  .u-block-fc3f-37 {
    width: 100px;
  }
  .u-block-fc3f-42 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-44 {
    font-size: 1rem;
  }
  .u-block-fc3f-48 {
    width: 100px;
  }
  .u-block-fc3f-58 {
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
  }
  .u-block-fc3f-68 {
    background-image: none;
    border-style: none;
  }
  .u-block-fc3f-90 {
    font-weight: 700;
  }
  .u-block-fc3f-81 {
    font-weight: 700;
  }
  .u-block-fc3f-83 {
    font-weight: 700;
  }
  .u-block-fc3f-84 {
    font-weight: 700;
  }
  .u-block-fc3f-89 {
    margin-top: 20px;
    border-style: none;
    background-image: none;
  }
}</style>
    <style data-mode="LG">@media (max-width: 1199px) and (min-width: 992px) {
  .u-block-fc3f-2 {
    min-height: 500px;
  }
  .u-block-fc3f-6 {
    width: 940px;
    margin-top: 63px;
    margin-bottom: 60px;
    min-height: 375px;
  }
  .u-block-fc3f-20 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-22 {
    font-size: 1rem;
  }
  .u-block-fc3f-26 {
    width: 100px;
  }
  .u-block-fc3f-31 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-33 {
    font-size: 1rem;
  }
  .u-block-fc3f-37 {
    width: 100px;
  }
  .u-block-fc3f-42 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-44 {
    font-size: 1rem;
  }
  .u-block-fc3f-48 {
    width: 100px;
  }
  .u-block-fc3f-58 {
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
  }
  .u-block-fc3f-68 {
    background-image: none;
    border-style: none;
  }
  .u-block-fc3f-90 {
    font-weight: 700;
  }
  .u-block-fc3f-81 {
    font-weight: 700;
  }
  .u-block-fc3f-83 {
    font-weight: 700;
  }
  .u-block-fc3f-84 {
    font-weight: 700;
  }
  .u-block-fc3f-89 {
    margin-top: 20px;
    background-image: none;
    border-style: none;
  }
}</style>
    <style data-mode="MD">@media (max-width: 991px) and (min-width: 768px) {
  .u-block-fc3f-2 {
    min-height: 500px;
  }
  .u-block-fc3f-6 {
    width: 720px;
    margin-top: 63px;
    margin-bottom: 60px;
    min-height: 375px;
  }
  .u-block-fc3f-20 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-22 {
    font-size: 1rem;
  }
  .u-block-fc3f-26 {
    width: 100px;
  }
  .u-block-fc3f-31 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-33 {
    font-size: 1rem;
  }
  .u-block-fc3f-37 {
    width: 100px;
  }
  .u-block-fc3f-42 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-44 {
    font-size: 1rem;
  }
  .u-block-fc3f-48 {
    width: 100px;
  }
  .u-block-fc3f-58 {
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
  }
  .u-block-fc3f-68 {
    background-image: none;
    border-style: none;
  }
  .u-block-fc3f-90 {
    font-weight: 700;
  }
  .u-block-fc3f-81 {
    font-weight: 700;
  }
  .u-block-fc3f-83 {
    font-weight: 700;
  }
  .u-block-fc3f-84 {
    font-weight: 700;
  }
  .u-block-fc3f-89 {
    margin-top: 20px;
    background-image: none;
    border-style: none;
  }
}</style>
    <style data-mode="SM">@media (max-width: 767px) and (min-width: 576px) {
  .u-block-fc3f-2 {
    min-height: 500px;
  }
  .u-block-fc3f-6 {
    width: 540px;
    margin-top: 63px;
    margin-bottom: 60px;
    min-height: 375px;
  }
  .u-block-fc3f-20 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-22 {
    font-size: 1rem;
  }
  .u-block-fc3f-26 {
    width: 100px;
  }
  .u-block-fc3f-31 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-33 {
    font-size: 1rem;
  }
  .u-block-fc3f-37 {
    width: 100px;
  }
  .u-block-fc3f-42 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-44 {
    font-size: 1rem;
  }
  .u-block-fc3f-48 {
    width: 100px;
  }
  .u-block-fc3f-58 {
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
  }
  .u-block-fc3f-68 {
    background-image: none;
    border-style: none;
  }
  .u-block-fc3f-90 {
    font-weight: 700;
  }
  .u-block-fc3f-81 {
    font-weight: 700;
  }
  .u-block-fc3f-83 {
    font-weight: 700;
  }
  .u-block-fc3f-84 {
    font-weight: 700;
  }
  .u-block-fc3f-89 {
    margin-top: 20px;
    background-image: none;
    border-style: none;
  }
}</style>
    <style data-mode="XS">@media (max-width: 575px) {
  .u-block-fc3f-2 {
    min-height: 500px;
  }
  .u-block-fc3f-6 {
    width: 340px;
    margin-top: 63px;
    margin-bottom: 60px;
    min-height: 375px;
  }
  .u-block-fc3f-20 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-22 {
    font-size: 1rem;
  }
  .u-block-fc3f-26 {
    width: 100px;
  }
  .u-block-fc3f-31 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-33 {
    font-size: 1rem;
  }
  .u-block-fc3f-37 {
    width: 100px;
  }
  .u-block-fc3f-42 {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .u-block-fc3f-44 {
    font-size: 1rem;
  }
  .u-block-fc3f-48 {
    width: 100px;
  }
  .u-block-fc3f-58 {
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
  }
  .u-block-fc3f-68 {
    background-image: none;
    border-style: none;
  }
  .u-block-fc3f-90 {
    font-weight: 700;
  }
  .u-block-fc3f-81 {
    font-weight: 700;
  }
  .u-block-fc3f-83 {
    font-weight: 700;
  }
  .u-block-fc3f-84 {
    font-weight: 700;
  }
  .u-block-fc3f-89 {
    margin-top: 20px;
    background-image: none;
    border-style: none;
  }