<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="ИНСТРУМЕНТЫОПТОМ, Try this now!">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Главная</title>
    <link rel="stylesheet" href="static/css/site_admin/nicepage.css" media="screen">
<link rel="stylesheet" href="static/css/page_1/Главная.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    

    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Главная">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode"><header class="u-align-center-sm u-align-center-xs u-clearfix u-grey-10 u-header u-header" id="sec-0867"><div class="u-clearfix u-sheet u-sheet-1">
        <a class="u-image u-logo u-image-1" data-image-width="900" data-image-height="853">
          <img src="static/img/png-clipart-tool-euclidean-icon-hammer-happy-birthday-vector-images-data.png" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-align-right u-menu-dropdown u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem;">
            <a class="u-button-style u-custom-text-color u-nav-link" href="#">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8a8f"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-palette-2-base" href="Главная.html" style="padding: 10px 20px;">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-palette-2-base" href="О-нас.html" style="padding: 10px 20px;">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-palette-2-base" href="Контакты.html" style="padding: 10px 20px;">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-palette-2-base" href="price_list" style="padding: 10px 20px;">Скачать прайс</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-palette-2-base" href="Авторизация.html" style="padding: 10px 20px;">Авторизация</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Главная.html">Главная</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="О-нас.html">О нас</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Контакты.html">Контакты</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="price_list">Скачать прайс</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Авторизация.html">Авторизация</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-ba6f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-1">ИНСТРУМЕНТЫ<br>ОПТОМ
        </h2>
        <h1 class="u-text u-text-2">Наши преимущества</h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-1"><img src="static/img/148986.png" alt=""></span>
                <h3 class="u-text u-text-3">Своеврменность</h3>
                <p class="u-text u-text-4"> Ежедневное обновление прайса </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-2"><img src="static/img/3930372.png" alt=""></span>
                <h3 class="u-text u-text-5">Поддержка</h3>
                <p class="u-text u-text-6"> При первом же заказе с вами начнет работать персональный менеджер, который всегда с радостью ответит на все интересующие вас вопросы и поможет подобрать ассортимент товаров исходя из ваших предпочтений</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-3"><img src="static/img/7118328.png" alt=""></span>
                <h3 class="u-text u-text-7">Оригинал</h3>
                <p class="u-text u-text-8"> Мы являемся официальным дистрибьютором производителей инструментов ...</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-4"><img src="static/img/7180125.png" alt=""></span>
                <h3 class="u-text u-text-9">Скидки</h3>
                <p class="u-text u-text-10"> На крупные заказы, цены обсуждаются индивидуально.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-5"><img src="static/img/583985.png" alt=""></span>
                <h3 class="u-text u-text-11">Низкий порог</h3>
                <p class="u-text u-text-12"> Минимальная сумма заказа - от 20 тысяч рублей.</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-6"><img src="static/img/411712.png" alt=""></span>
                <h3 class="u-text u-text-13">Удобные ТК</h3>
                <p class="u-text u-text-14"> Возможность выбора транспортной компании.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-2" src="" data-image-width="800" data-image-height="521" id="sec-5e25">
      <div class="u-align-center u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Вы можете сделать заказ онлайн</h2>
        <a href="order" class="u-btn u-button-style u-btn-1">сДЕЛАТЬ&nbsp;ЗАКАЗ</a>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-469e"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1"> ИП Сокерин В.Н. 610014, Россия, г. Киров, Спасская 18, офис 31.<br>ОГРН: 314434502100171 ИНН: 434599364377<br>Продукция не исключает риски для здоровья.
        </p>
      </div></footer>
  </body>
</html>